/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-font-smoothing: antialiased;
    background-color:#9c9c9c;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    padding-top: 14px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}

#header > H1{

}

#footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

.nav-glyphish-example .ui-btn {
    padding-top: 84px !important;

}
.nav-glyphish-example .ui-btn:after {
    width: 64px!important;
    height: 64px!important;
    margin-left: -32px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.ui-grid-d > LI{
    width: 25% !important;
}
.ui-grid-d > LI > A {
    font-size: 28px !important;
    font-family: Tahoma,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial !important;
}

#overview:after { background:  url("../img/ico_overview.png") 50% 50% no-repeat; background-size: 64px 64px; }
#contactus:after { background:  url("../img/ico_contactus.png") 50% 50% no-repeat; background-size: 64px 64px;  }
#user:after { background:  url("../img/ico_user.png") 50% 50% no-repeat;  background-size: 64px 64px; }
#announcement:after { background:  url("../img/ico_announcement.png") 50% 50% no-repeat;  background-size: 64px 64px; }
